{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}


        <h1>Formulaire d'ajout d'une catégorie</h1>

        <section>
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}

        </section>



{% endblock %}